{% extends "layout.html" %}
{% block content %}
    <br>
    <h2>Nos Films : {{ genre }}</h2>

    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="row">
                {% for film in lFilms %}
                    <div class="col">
                        <div class="card" style="width: 18rem;">
                            <img src="./static/images/{{ film.affiche_film }}" class="card-img-top" alt="Image du film {{ film.titre_film }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ film.titre_film }}</h5>
                                <a href="{{ url_for('film') }}?id={{ film.id_film }}" class="btn btn-primary">Réserver</a>
                            </div>
                        </div>
                    </div>
               {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}